[Unit]
Description=System unit to hard reset or system reset chassis

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/power-control

[Install]
WantedBy=chassis-system-reset.target
